/*Using 8:9 (1.125) ratio modular scale */
html {
  margin: auto;
  font-family: Georgia, serif;
  font-size: 1.125em;
  line-height: 1.266em;
}

/* Amairani Lopez - Personal Code */

#header{
  font-family: 'Comic Sans MS', cursive, sans-serif;
  color: white;
  text-align: center;
  margin: auto;
}

#header ul li {
  font-size: 2.281em; 
  line-height: 2.281em;
  list-style-type: none;
  color: #3561F4; /*bright blue*/  
}

body {
  font-family: 'Lato', sans-serif;
  text-align: center;
  background: url(../media/outspace.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
  margin-top: 30px;
}

h2 {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  color: white;  
  text-align: center;
  width: 50%;
  margin: auto;
  font-size: 2.027em;
  padding-bottom: 1em;
}

p.about {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  color: white; /*navy blue*/ 
  text-align: center;
  width: 60%;
  margin: auto;
  border: 5px solid;
  border-color: #4E50F2;
  font: 1em Georgia, "Times New Roman", Times, serif;
  background-color: #000066;
  opacity: .9;
}

 form{
  text-align: center;
  font: 1em Georgia, "Times New Roman", Times, serif;
  padding-right: 30px;
  padding-left: 30px;
  line-height: 1.802;
  text-align: center;
}

fieldset{
  display: block;
  text-align: center;
  border: 10px groove;
  border-color: #DCB3F7;
  font: 1em Georgia, "Times New Roman", Times, serif;
  background: url(../media/space.jpg);
  opacity: .9;
  width: 20%;
  margin: auto;
  line-height: 1.802;
}

legend{
  text-align: center;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-size: 40px;
  color: white;
  margin: auto;
}

label{
  text-align: center;
  font: 1em Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: bold;
  color: #4E50F2;
  opacity: 1;
  margin: auto;
  line-height: 1.802;
}

input{
  text-align: center;
  font-weight: bold;
  opacity: 1;
  margin: auto;
  line-height: 1.802;
  margin-bottom: 20px;
}

.button{
  text-align: center;
  border: 10px groove;
  border-radius: 20px;
  border-color: #4E50F2;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #4E50F2;
  background: url(../media/space.jpg);
}

#footer ul li {
  font-size: 1.266em; 
  line-height: 1.424em;
  list-style-type: none;
  color: #3561F4; /*bright blue*/  
  font: 1em Georgia, "Times New Roman", Times, serif;
}

