html {
  font-family: Georgia, serif;
  font-size: 1.125em;
  line-height: 1.333em;
}

/* Amairani Lopez - Personal Code */
 form{
  text-align: center;
  font: 1em Georgia, "Times New Roman", Times, serif;
  width: 180px;
  padding-left: 60px;
  padding-right: 60px;
  line-height: 1.8;
}

body {
  font-family: 'Lato', sans-serif;
  text-align: center;
  background: url(../media/outspace.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
  margin-top: 30px;
}

fieldset{
  display: block;
  text-align: center;
  border: 30px groove;
  border-color: #83DAFC;
  font: 1em Georgia, "Times New Roman", Times, serif;
  background-color: #B5EDFF;
  opacity: .9;
  width: 100px;
  margin: auto;
  line-height: 1.8;
}

